version: "3.8"

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: wafflebase
      POSTGRES_PASSWORD: wafflebase
      POSTGRES_DB: wafflebase
    ports:
      - "5432:5432"

  yorkie:
    image: "yorkieteam/yorkie:latest"
    command: ["server", "--pprof-enabled"]
    restart: always
    ports:
      - "8080:8080"
      - "8081:8081"

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data

volumes:
  minio-data:
